.shadow-image {
  width: 300px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
}
.shadow-image2 {
  width: 150px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-left: 200px;
}
.shadow-image3{
    width: 250px;
    filter: drop-shadow(10px 5px 5px rgba(0,0,0,0.5));
    margin-left: 200px;
}
