h3 {
  color: #ff7700;
  background-color: rgb(164, 199, 204);
}
h6 {
  text-decoration: underline wavy #6bacf7;
  font-size: 25px;
}
.t-upper{
    text-transform: uppercase;
    text-align: center;
}
.t-lower{
    text-transform: lowercase;
    text-align: right;
    text-decoration: line-through;
}
.t-cap{
    text-transform: capitalize;
}