.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width: 250px;
    height: 250px;
    background-color: rgb(19, 139, 179);
    border: 5px solid rgb(0, 0, 0);
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
    text-transform: capitalize;
}
.box1:hover{
    transform: translate(30px, 80px);
    background-color: rgb(227, 175, 20);
}
.box2:hover{
    transform:translateX(30px);
    background-color: rgb(20, 227, 175);
}
.box3:hover{
    transform: translateY(80px);
    background-color: rgb(175, 20, 227);
}
.box4:hover{
    transform: rotate(45deg);
    background-color: rgb(227, 20, 175);
}
.box5:hover{
    transform:skewX(20deg);
    background-color: rgb(175, 227, 20);
}
.box6:hover{
    transform: skewY(20deg);
    background-color: rgb(20, 175, 227);
}
.box7:hover{
    transform: skew(20deg, 20deg);
    background-color: rgb(175, 20, 227);
}
.box8:hover{
    transform: scale(1.2);
    background-color: rgb(20, 227, 175);
}
.box9:hover{
    transform: scale(1.2) rotate(45deg) skew(20deg, 20deg);
    background-color: rgb(227, 175, 20);
}
.img-wrapper{
   width: 500px;
   height: 400px;
   position: relative;
   overflow: hidden;
}
.inner-img{
    width: 100%;
    height: 100%;
    transition: transform 2s;
    object-fit: contain;

}
.inner-img:hover{
    transform: scale(2.5);
    border-radius: 10px;
}